name: Docker Image CI

on:
  workflow_dispatch:  # This enables the manual trigger
    inputs:
      example_input:
        description: 'An example input'
        required: false
        default: 'Hello'

jobs:
      
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag adotestimage:$(date "+%Y-%m-%d %H")

  scan:

    runs-on: ubuntu-latest

    steps:
    - name: Log in to Docker
      uses: docker/login-action@v2
      with:
        registry: registry.aquasec.com
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: pull dat image
      run: docker pull registry.aquasec.com/scanner:latest-saas
    - uses: actions/checkout@v4
    - name: scan the docker image using aqua trivy
      run: docker run -v /var/run/docker.sock:/var/run/docker.sock registry.aquasec.com/scanner:latest-saas scan --local -H https://e11d515bfb.cloud.aquasec.com/ -A d799b2bf5aa0411ad9337d1df585ff8b0acedd3d3cb93113ee1e79db591505db adotestimage:$(date "+%Y-%m-%d %H")
