name: Docker Image CI

on:
  workflow_dispatch:  # This enables the manual trigger
    inputs:
      example_input:
        description: 'An example input'
        required: false
        default: 'Hello'

jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: docker login
      run: docker login registry.aquasec.com -u $AQUAPULLUSER -p $AQUAPULLPASSWORD
    - name: pull scanner image
      run: docker pull registry.aquasec.com/scanner:saas-latest
      
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag adotestimage:$(date +%s)

  scan:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: scan the docker image using aqua trivy
      run: docker run -v /var/run/docker.sock:/var/run/docker.sock registry.aquasec.com/scanner:saas-latest scan --local -U $AQUAPULLUSER -P $AQUAPW adotestimage:$(date +%s)
